/* CSS file */
WindowedApplication
{
	backgroundAlpha:0;
	borderThickness:0;
	backgroundGradientAlphas: 1.0, 1.0;
	backgroundGradientColors: #FFFFFF, #FFFFFF;
	fontSize: 12;
}


LinkButton
{
	fontWeight: "normal";
	textDecoration: "underline";
}

Alert
{
	borderStyle: solid;
	backgroundColor: #ececec;
	backgroundAlpha: 1;
}