/* CSS file */

global
{
	color: #000000;
	cornerRadius:0;
	fontSize: 12;
}

CursorManager
{
	busy-cursor: Embed("mysource/imgs/UndefinedPersonalSkinLoad.swf");
} 

LinkButton
{
	textDecoration: "underline";
	
	paddingRight: 	0;
	paddingLeft:	0;
}
ComboBox
{
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF;
}
NumericStepper
{
	borderThickness: 1;
	cornerRadius: 0;
	borderStyle: inset;
}
DateChooser
{
	cornerRadius: 0;
	headerColors: #FFFFFF, #FFFFFF;
	selectionColor: #DFDFDF;
	rollOverColor: #E6E6E6;
}
DataGrid
{
	headerColors: #FFFFFF, #FFFFFF;
	alternatingItemColors: #FFFFFF, #FFFFFF;
	horizontalGridLines: true;
	horizontalGridLineColor: #CCCCCC;
	rollOverColor: #DDDDDD;
	selectionColor: #BBBBBB;
	verticalScrollBarStyleName: dataGridVerticalScrollBar;
}
VScrollBar
{
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF;
	trackColors: #FFFFFF, #FFFFFF;
	thumbOffset: 1;
}
HScrollBar
{
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF;
	trackColors: #FFFFFF, #FFFFFF;
	thumbOffset: 1;
}
Panel
{
	backgroundGradientColors: #FFFFFF, #FFFFFF;
	borderStyle: "solid";
}
Window
{
	backgroundGradientColors: #FFFFFF, #FFFFFF;
	borderStyle: "solid";
}
WindowedApplication
{
	backgroundGradientColors: 	#FFFFFF, #FFFFFF;
	/*background-image:			Embed("/assets/general/fondo1.jpg");
	background-size:			"100%";*/
}
Accordion
{
	borderStyle: solid;
	borderThickness: 1;
	borderColor: #000000;
	headerStyleName: accordionHeader;
	backgroundColor: #FFFFFF;
	themeColor: #D5D5D5;
	cornerRadius:0;
}
Button
{
	themeColor: #D5D5D5;
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF;
}
Canvas
{	
	borderColor: #000000;
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF;
}
.accordionHeader
{
	borderColor: #000000;
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF;
}
.dataGridVerticalScrollBar
{
	cornerRadius: 0;
	thumbOffset: 1;
	trackColors: #FFFFFF, #FFFFFF;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF;
}

.pageLinkBtn
{
	paddingLeft:0;
	paddingRight:0;
	paddingTop:0;
	paddingBottom:0;
}

.boardBox
{
	paddingLeft:10;
	paddingRight:10;
	paddingTop:10;
	paddingBottom:10;
	horizontalGap:10;
	borderStyle:"solid";
	borderThickness:1;
}

